<robot name="ur3_workplacess" 
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ur3_description)/urdf/ur3_workspace_limitation.xacro" />

  <depth_camera name="camera2" />
  <joint name="table_to_camera2" type="fixed">
    <parent link="table"/>
    <child link="base_link_camera2"/>
    <origin xyz="0.94 0.165 0.55" rpy="0 ${pi/6} -${pi}"/>
  </joint>

  <depth_camera name="camera_top" />
  <joint name="table_to_camera_top" type="fixed">
    <parent link="table"/>
    <child link="base_link_camera_top"/>
    <origin xyz="0.2 0.185 1.2" rpy="0 ${pi/2} -${pi}"/>
  </joint>

</robot>