<robot name="ur3_workplace" 
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ur3_description)/urdf/ur3.xacro" />

  <depth_camera name="camera2" />
  <joint name="table_to_camera2" type="fixed">
    <parent link="table"/>
    <child link="base_link_camera2"/>
    <origin xyz="0.94 0.165 0.55" rpy="0 ${pi/6} -${pi}"/>
  </joint>

</robot>