<?xml version="1.0" ?>
<robot name="ur3_workplace" 
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ur3_description)/urdf/ur3_robot_custom.urdf.xacro" />
  <xacro:include filename="$(find ur3_description)/urdf/depth_camera.xacro" />

  <depth_camera name="camera_right" />
  <joint name="table_to_camera_right" type="fixed">
    <parent link="table"/>
    <child link="base_link_camera_right"/>
    <origin xyz="-0.6 1.2 1.6" rpy="0 ${pi/6} -${pi/4}"/>
  </joint>

  <depth_camera name="camera_left" />
  <joint name="table_to_camera_left" type="fixed">
    <parent link="table"/>
    <child link="base_link_camera_left"/>
    <origin xyz="-0.6 -0.2 1.6"  rpy="0 ${pi/6} ${pi/4}"/>
  </joint>

  <depth_camera name="camera_top" />
  <joint name="table_to_camera_top" type="fixed">
    <parent link="table"/>
    <child link="base_link_camera_top"/>
    <origin xyz="-0.22 0.47 2.0"  rpy="0 ${pi/2} -${pi}"/>
  </joint>


  <link name="world" />

  <link name="table">
    <visual>
      <geometry>
        <mesh filename="package://ur3_description/meshes/table.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 ${-pi/2} 0" xyz="0.0 0.0 0.0"/>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://ur3_description/meshes/table_collision.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 ${-pi/2} 0" xyz="0 0 0 "/>
    </collision>
  </link>

  <link name="table_left_sup">
    <collision>
      <geometry>
        <mesh filename="package://ur3_description/meshes/table_left_sup.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 ${-pi/2} 0" xyz="0 0 0 "/>
    </collision>
  </link>
  <joint name="table_left_sup_j" type="fixed">
    <parent link="table"/>
    <child link="table_left_sup"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

    <link name="table_right_sup">
    <collision>
      <geometry>
        <mesh filename="package://ur3_description/meshes/table_right_sup.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 ${-pi/2} 0" xyz="0 0 0 "/>
    </collision>
  </link>
  <joint name="table_right_sup_j" type="fixed">
    <parent link="table"/>
    <child link="table_right_sup"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="table_back_sup">
    <collision>
      <geometry>
        <mesh filename="package://ur3_description/meshes/table_back_sup.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 ${-pi/2} 0" xyz="0 0 0 "/>
    </collision>
  </link>
  <joint name="table_back_sup_j" type="fixed">
    <parent link="table"/>
    <child link="table_back_sup"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="table"/>
    <origin xyz="0 1.0 0" rpy="0 0 -${pi}"/>
  </joint>

  <joint name="table_to_robot" type="fixed">
    <parent link="table"/>
    <child link="base_link"/>
    <origin xyz="-0.58 0.49 0.972" rpy="0 0 -1.57"/>
  </joint>

  <link name="force_sensor">
    <visual>
      <geometry>
        <mesh filename="package://ur3_description/meshes/force_sensor.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1" />
      </material>
      <origin rpy="${pi/2} 0 0" xyz="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://ur3_description/meshes/force_sensor.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="${pi/2} 0 0" xyz="0 0 0"/>
    </collision>
  </link>
  <link name="effector_body">
    <visual>
      <geometry>
        <mesh filename="package://ur3_description/meshes/effector_body.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1" />
      </material>
      <origin rpy="${pi/2} 0 0" xyz="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://ur3_description/meshes/effector_body.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="${pi/2} 0 0" xyz="0 0 0"/>
    </collision>
  </link>
  <link name="left_jaw">
    <visual>
      <geometry>
        <mesh filename="package://ur3_description/meshes/jaw.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1" />
      </material>
      <origin rpy="${pi} 0 ${pi/2}" xyz="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://ur3_description/meshes/jaw.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="${pi} 0 ${pi/2}" xyz="0 0 0"/>
    </collision>
  </link>
  <link name="right_jaw">
    <visual>
      <geometry>
        <mesh filename="package://ur3_description/meshes/jaw.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1" />
      </material>
      <origin rpy="${pi} 0 ${pi/2}" xyz="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://ur3_description/meshes/jaw.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="${pi} 0 ${pi/2}" xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="FT_to_tip" type="fixed">
    <parent link="ee_link"/>
    <child link="force_sensor"/>
    <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
  </joint>

  <joint name="Effector_to_FT" type="fixed">
    <parent link="force_sensor"/>
    <child link="effector_body"/>
    <origin xyz="0 0 0.035" rpy="0 0 0"/>
  </joint>

  <joint name="leftjaw_to_effector" type="fixed">
    <parent link="effector_body"/>
    <child link="left_jaw"/>
    <origin xyz="0 0 0.076" rpy="0 0 0"/>
  </joint>

  <joint name="rightjaw_to_effector" type="fixed">
    <parent link="effector_body"/>
    <child link="right_jaw"/>
    <origin xyz="0 0 0.076" rpy="0 0 ${pi}"/>
  </joint>

</robot>




	
