<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" default="192.168.1.111"/>
  <arg name="enable_both_hmi" default="true"/>

  <include file="$(find ur_robot_driver)/launch/ur3e_bringup.launch">
	<arg name="robot_ip" value="$(arg robot_ip)" />
	<arg name="kinematics_config" value="$(find ur3_moveit)/config/ucr_ur3e_calibration.yaml" />
  </include>

  <!-- Octomap and sensors settings -->
  <param name="move_group/octomap_resolution" type="double" value="0.035" />
   <!-- <param name="move_group/max_range" type="double" value="0.2" />  THIS PARAM HAS NO EFFECT - CHECKED IN CODE --> 
  <param name="/move_group/collision/show_distances" type="bool" value="false" />
  <rosparam ns="/move_group" command="load" file="$(find ur3_moveit)/config/sensors_3d.yaml" />
  <param name="/move_group/manipulator/longest_valid_segment_fraction" type="double" value="0.007" />

  <arg name="xacro_file_name" default="ur3e_workspace.xacro"/>
  <arg name="xacro_path" default="$(find ur3_description)/urdf/$(arg xacro_file_name)"/>
  <param name="robot_description" command="xacro --inorder '$(arg xacro_path)'" />

   <arg name="width" default="424"/>
    <arg name="height" default="240"/>
    <arg name="fps" default="15"/>

    <!-- <node name="task_commander" pkg="ur3_moveit" type="task_commander.py" respawn="false" output="screen" args="$(arg enable_both_hmi)" /> -->
    <node name="hmi_tracker" pkg="ur3_moveit" type="hmi_tracker.py" respawn="false" output="screen" />

  <group if="$(arg enable_both_hmi)">
    <node name="hmi_starter" pkg="ur3_moveit" type="hmi_controller_starter.py" respawn="false" output="screen"/>
  </group>


    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="json_file_path" value="$(find ur3_moveit)/config/d435_camera_settings.json" />

        <!-- this is currect recomended API for PointCloud -->
        <arg name="filters" value="pointcloud" /> 
        <!-- <arg name="enable_pointcloud" value="true" /> THIS IS A DEPRECATED API !!!--> 

        <arg name="camera" value="camera_top" />
        <arg name="depth_width" value="$(arg width)" /> 
        <arg name="depth_height" value="$(arg height)" />
        <arg name="depth_fps" value="$(arg fps)" />
        <!-- min is 256 x 144 with 90 FPS (!) but for a very small region ! -->
        <arg name="color_width" value="$(arg width)" /> 
        <arg name="color_height" value="$(arg height)" />
        <arg name="color_fps" value="$(arg fps)" />

        <arg name="serial_no" value="912112073228" />
        <arg name="device_type" value="d435" />
        <arg name="clip_distance" value="1.05" />
        
        <arg name="enable_gyro" value="false" />
        <arg name="enable_accel" value="false" />
        <arg name="enable_sync" value="true" />
    </include>

<!-- TODO into common launch -->
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="json_file_path" value="$(find ur3_moveit)/config/d435_camera_settings.json" />

        <!-- this is currect recomended API for PointCloud -->
        <arg name="filters" value="pointcloud" /> 
        <!-- <arg name="enable_pointcloud" value="true" /> THIS IS A DEPRECATED API !!!--> 

        <arg name="camera" value="camera_left" />
        <arg name="depth_width" value="$(arg width)" /> 
        <arg name="depth_height" value="$(arg height)" />
        <arg name="depth_fps" value="$(arg fps)" />
        <!-- min is 256 x 144 with 90 FPS (!) but for a very small region ! -->
        <arg name="color_width" value="$(arg width)" /> 
        <arg name="color_height" value="$(arg height)" />
        <arg name="color_fps" value="$(arg fps)" />

        <arg name="serial_no" value="902512070206" />
        <arg name="device_type" value="d435" />
        <arg name="clip_distance" value="1.4" />
        
        <arg name="enable_gyro" value="false" />
        <arg name="enable_accel" value="false" />
        <arg name="enable_sync" value="true" />
    </include>

  <include file="$(find ur3_moveit)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="controllers_definition" value="real_controllers.yaml" />
  </include>

</launch>
