<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" default="192.168.1.111"/>
  <arg name="enable_both_hmi" default="true"/>
  <arg name="directed_vibration" default="true"/>

  <include file="$(find ur_robot_driver)/launch/ur3e_bringup.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <!-- <arg name="limited" value="true" /> -->
    <arg name="headless_mode" value="true" />
    <arg name="kinematics_config" value="$(find ur3_moveit)/config/ucr_ur3e_calibration.yaml" />
    
    <!-- the only controllers that are required -->
    <arg name="controllers" value="scaled_pos_joint_traj_controller joint_state_controller" /> 
    <arg name="stopped_controllers" value="" /> 
  </include>

  <!-- Octomap and sensors settings -->
  <param name="move_group/octomap_resolution" type="double" value="0.035" />
  <param name="/move_group/max_segment_length" type="double" value="0.5" />
  <param name="/move_group/min_waypoint_count" type="int" value="12" />
  <param name="/move_group/collision/show_distances" type="bool" value="false" />
  <param name="/move_group/collision/show_vector_points" type="bool" value="true" />
  <rosparam ns="/move_group" command="load" file="$(find ur3_moveit)/config/sensors_3d.yaml" />
  <param name="/move_group/manipulator/longest_valid_segment_fraction" type="double" value="0.007" />

  <arg name="xacro_file_name" default="ur3e_workspace.xacro"/>
  <arg name="xacro_path" default="$(find ur3_description)/urdf/$(arg xacro_file_name)"/>
  <param name="robot_description" command="xacro --inorder '$(arg xacro_path)'" />

  <!-- <node name="task_commander" pkg="ur3_moveit" type="task_commander.py" respawn="false" output="screen" args="$(arg enable_both_hmi)" /> -->
  <node name="hmi_tracker" pkg="ur3_moveit" type="hmi_tracker.py" respawn="false" output="screen" args="moveit" />

  <group if="$(arg enable_both_hmi)">
    <node name="hmi_starter" pkg="ur3_moveit" type="hmi_controller_starter.py" args="$(arg directed_vibration)" respawn="false" output="screen"/>
  </group>

  <include file="$(find ur3_moveit)/launch/real_d435.launch">
    <arg name="serial_no" value="912112073228" />
    <arg name="camera_name" value="camera_top" />
    <arg name="clip_distance" value="1.05" />
  </include>

  <include file="$(find ur3_moveit)/launch/real_d435.launch">
    <arg name="serial_no" value="902512070206" />
    <arg name="camera_name" value="camera_left" />
    <arg name="clip_distance" value="1.4" />
  </include>

  <include file="$(find ur3_moveit)/launch/real_d435.launch">
    <arg name="serial_no" value="902512070480" />
    <arg name="camera_name" value="camera_right" />
    <arg name="clip_distance" value="1.5" />
  </include>

  <include file="$(find ur3_moveit)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="controllers_definition" value="real_controllers.yaml" />
  </include>

</launch>
