<launch>
  <rosparam command="load" file="$(find ur3_moveit)/config/joint_names.yaml"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/joint_states]</rosparam>
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <node name="$(anon rviz)" launch-prefix="" pkg="rviz" type="rviz" respawn="false" args="" output="screen" />

</launch>