#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/stefan/catkin_ws/src/dms_moveit/sim.sh
Name=Start DMS simulation
Icon=org.gnome.Todo
